.write.column{
    position: absolute;
    flex-direction: column;
    width: 700px;
    height: 786px;
    margin-left: 541px;
    margin-top: 64px;
    border-radius: 0px;   
    box-shadow: 0px #D7DAE7;
}

.booktitle::placeholder{
    font-size: 24px;
    font-weight: 700;
    padding: 0px 4px;
    line-height: 25px;
    letter-spacing: -0.24px;
    font-family: 'Pretendard';
    font-style: normal;
    text-decoration: #7E808A;
}

.booktitle{
    position: absolute;
    width: 700px;
    height: 94px;
    top: 64px;
    margin-top: -73px;
}

.booksummary::placeholder{
    font-size: 16px;
    font-weight: 500;
    padding: 0px 4px;
    line-height: 24px;
    letter-spacing: -0.24px;
    font-family: 'Pretendard';
    font-style: normal;
    text-decoration: #7E808A;
}

.booksummary{
    position: absolute;
    width: 700px;
    height: 72px;
    top: 85px;
}

.booknote::placeholder{
    font-size: 16px;
    font-weight: 500;
    padding: 0px 4px;
    line-height: 24px;
    letter-spacing: -0.24px;
    font-family: 'Pretendard';
    font-style: normal;
    text-decoration: #7E808A;
    text-align: top;
}

.booknote{
    position: absolute;
    width: 700px;
    height: 700px;
    top: 160px;
}

#submit-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 600px;
    height: 48px;
    left: 573px;
    top: 1000px;
}

.selection{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D7DAE7;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin-left: 40px;
}

.submit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;
    width: 80px;
    height: 48px;
    background: #456EFF;
    border-radius: 8px;
    border: 0;
    flex: none;
    order: 1;
    flex-grow: 1;
}

/* ----------------------- */

.booklist.column{
    flex-direction: column;
    position: absolute;
    width: 477px;
    height: 960px;
    margin-left: 64px;
    margin-top: 64px;
    
    /* white */
    
    background: #FFFFFF;
    box-shadow: 1px 0px 0px #D7DAE7;
}
#header{
    height: 30px;
    left: 80px;
    top: 96px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.24px;
    color: #292525;
}
#subtitle{
    height: 24px;
    left: 80px;
    top: 138px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.24px;
    color: #7E808A;
}
#book{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    font-size: 8px;
}