.write.column{
    position: absolute;
    flex-direction: column;
    width: 835px;
    height: 786px;
    margin-left: 541px;
    margin-top: 64px;
    border-radius: 0px;   
    box-shadow: 0px #D7DAE7;
}

.booktitle label{
    font-size: 24px;
    font-weight: 700;
    padding: 0px 4px;
    line-height: 25px;
    letter-spacing: -0.24px;
    font-family: 'Pretendard';
    font-style: normal;
    text-decoration: #7E808A;
}

.booksummary div{
    border-bottom: 1px solid #ffaadd;
}

.booktitle{
    margin-top: -73px;
}
.booksummary label{
    font-size: 16px;
    font-weight: 500;
    padding: 0px 4px;
    line-height: 24px;
    letter-spacing: -0.24px;
    font-family: 'Pretendard';
    font-style: normal;
    text-decoration: #7E808A;
}

.booknote label{
    font-size: 16px;
    font-weight: 500;
    padding: 0px 4px;
    line-height: 24px;
    letter-spacing: -0.24px;
    font-family: 'Pretendard';
    font-style: normal;
    text-decoration: #7E808A;
    text-align: top;
}

.savebutton button{
    left: 8px;
    top: 80px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;

    width: 389.5px;
    height: 48px;
    /* gray/10 */
    background:  #456EFF;
    border-radius: 8px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: -0.24px;
    /* gray/50 */
    color: #FFFF;
}

/* ----------------------- */

.booklist.column{
    flex-direction: column;
    position: absolute;
    width: 477px;
    height: 960px;
    margin-left: 64px;
    margin-top: 64px;
    
    /* white */
    
    background: #FFFFFF;
    box-shadow: 1px 0px 0px #D7DAE7;
}
#header{
    height: 30px;
    left: 80px;
    top: 96px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.24px;
    color: #292525;
}
#subtitle{
    height: 24px;
    left: 80px;
    top: 138px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.24px;
    color: #7E808A;
}
#book{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    font-size: 8px;
}